.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dialog__content {
	width: 50%;
	max-width: 330px;
	min-width: 290px;
	background: #fff;
	padding: 1.5em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
	border-radius: 5px;
}
.dialog__content button{
	font-family: "MicrosoftYaHei";
	padding: 0.7em 2em;
	outline: none;
	font-weight: 100;
	border: none;
	color: #fff;
	background: #c94e50;
	border-radius: 5px;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h3 {
	margin: 0;
	font-weight: 100;
	font-size: 16px;
	padding: 0 0 1em;
	margin: 0;
}