.progress-out {
    position: relative;
    border: 1px solid #FF4B2B;
    background-color: #fff;
    padding-bottom: 1px;
    display: inline-block;
    border-radius: 10px;
}

.progress-in {
    position: absolute;
    height: 100%;
    width: 0%;
    border: none;
    background-color: #FF4B2B;
    background-image: linear-gradient(top, #FF416C 0%, #FF4B2B 40%, #FF4B2B 100%);
    background-image: -webkit-linear-gradient(top, #FF416C 0%, #FF4B2B 40%, #FF4B2B 100%);
    background-image: -moz-linear-gradient(top, #FF416C 0%, #FF4B2B 40%, #FF4B2B 100%);
    background-image: -o-linear-gradient(top, #FF416C 0%, #FF4B2B 40%, #FF4B2B 100%);
    background-image: -ms-linear-gradient(top, #FF416C 0%, #FF4B2B 40%, #FF4B2B 100%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
.direction-left{
    left:0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.direction-right{
    right:0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.percent-show {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
}