*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

#shoppingCart_content{


    background-color: #EEEEEE;
}
#shoppingCart{
    width: 1200px;
    margin: auto;
    padding-bottom: 50px;
}
#shoppingCart_title{
    width: 100%;
    height: 50px;
}
#shoppingCart_title_List{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#shoppingCart_title_List li{
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.yinying{
    color: #ff0000;
    -moz-box-shadow:2px 10px 20px #333333; -webkit-box-shadow:2px 10px 20px #333333; box-shadow:2px 10px 20px #999999;
}
#shoppingCart_Info{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
}
#shopping_Cart_Info_List{
    width: 100%;
    height: 50px;
}
#total_Selection{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}
#total_Selection span{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #333333;
}
#Info{
    width: 421px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 21px;
}
#price{
    width: 70px;
    height: 50px;
    line-height: 50px;
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333333;
    display: inline-block;
    margin-left:15px;
}
#number{
    width: 95px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-left: 75px;
    font-size: 14px;
}
#subtotal{
    width: 75px;
    height: 50px;line-height: 50px;
    display: inline-block;
    font-size: 14px;
    margin-left: 32px;
}
#operation{
    width: 40px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 14px;
    margin-left: 40px;
}
.shopping_Info_Zhanshi{
    width: 1200px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
}
.shopping_Name{
    padding-top: 20px;
   margin-left: 76px;
}
.kefu_Img{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.shopping_Catr_Info{
    width: 1142px;
    margin: 10px auto;
    height: 220px;
    border: 1px solid #CCCCCC;
}
.shopping_Catr_Info li {
    height: 220px;
    display: inline-block;
    vertical-align: top;
}
.checkbox{
    display: inline-block;height: 15px;padding-top: 100px;
    vertical-align: top;
}
.shopping_Img{
    display: inline-block;
    width: 166px;
    height: 166px;
    border: 1px solid #CCCCCC;
    margin-top: 25px;
    margin-left: 20px;
}
.Info_neirong{
    width: 316px;
    height: 40px;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
}
.Info_neirong p{
    width: 316px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    overflow: hidden;
}
.Info_Specifications{
    width: 265px;
    height: 45px;
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    line-height: 45px;
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 14px;
}
.price{
    width: 45px;
    height: 12px;
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ff0000;
    margin-left: 41px;
    margin-top: 99px;
}
.design_number{
    width: 45px;
    height: 12px;
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #020202;
    margin-left: 110px;
    margin-top: 99px;
}
.shop_number{
    width: 111px;
    height: 25px;
    border: solid 1px #e5e5e5;
    margin-left: 64px;
    margin-top: 92px;
    display: flex;
    justify-content: space-around;
}
.shop_number div{
    width: 35px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px
}
.reduce,.number{
    border-right: 1px solid #e5e5e5;
}
.reduce,.plus{
    font-size: 20px;
    cursor: pointer;
}
.small_Plan{
    width: 45px;
    height: 12px;
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ff0000;
    margin-left: 75px;
    margin-top: 99px;
}
.shop_delete{
    width: 28px;
    height: 14px;
    font-family: PingFang-SC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333333;
    margin-left: 67px;
    margin-top: 99px;
    cursor: pointer;
}
#check_Out{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    position:fixed;
    bottom:0;
    left:0;
}
#check_Out_Info{
    width: 1200px;
    height: 50px;
    margin: auto;
}
#check_left{
    width: 500px;
    height: 50px;
    display: inline-block;
}
#check_left_List{
    width: 100%;
    height: 100%;
}
#check_left_List li{
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
}
#check_right{
    float: right;
    display: inline-block;
    width: 500px;
    height: 50px;
}
#payment{
    width: 125px;
    height: 50px;
    background-image: linear-gradient(180deg,
    #ff416c 0%,
    #ff4b2b 100%),
    linear-gradient(
            #2d3538,
            #2d3538);
    background-blend-mode: normal,
    normal;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
#check_right_price{
    display: inline-block;height: 50px;line-height: 50px;vertical-align: top;margin-left: 105px;
}


@media screen and  (min-width: 1500px) {
#shoppingCart_content{
    min-width: 100%;
}
    #check_Out{
        min-width: 100%;
    }
    #shoppingCart{
        min-width: 1200px;
    }

}
@media screen and  (min-width: 1200px) and(max-width: 1500px)  {
    #shoppingCart_content{
        min-width: 100%;
    }
    #check_Out{
        min-width: 100%;
    }
    #shoppingCart{
        min-width: 1200px;
    }
}
@media screen and  (min-width: 900px) and (max-width: 1200px) {
    #shoppingCart_content{
        min-width: 1327px;
    }
    #check_Out{
        min-width: 1327px;
    }
    #shoppingCart{
        min-width: 1200px;
    }
}

@media screen and  (max-width: 900px) {
    #shoppingCart_content{
        min-width: 1327px;
    }
    #check_Out{
        min-width: 1327px;
    }
    #shoppingCart{
        min-width: 1200px;
    }

}