*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#head{

    height: 145px;
}

#top{
    width:100%;
    height: 50px;
    background-color: #ffffff;
}
#top #top_title{
    width: 62.5%;
    height: 50px;
    margin: 0 auto;

}
#top #top_title #top_title_list{
    width: 100%;
    height: 100%;
    text-align: right;
}
#top #top_title #top_title_list li{
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 14px;
    color: #999999;
    font-family: PingFang-SC-Medium;
    margin-left: 20px;

    vertical-align: bottom;
}
#top #top_title #top_title_list li:first-child{
    width: 56px;
    height: 21px;
    line-height: 21px;
    border-radius: 8px;
    border: solid 1px #ff0000;
    color: #ff0000;
    text-align: center;
    margin-bottom: 16px;

}
#top #top_title #top_title_list #child3 img{
    width: 20px;
    height: 13px;
}
#top #top_title #top_title_list #child4 img{
    width: 13px;
    height: 13px;
}
#log_content{
    width: 100%;
    height: 95px;
    border-top: 1px solid #cccccc;
    box-shadow: 3px 4px 15px 6px
    rgba(177, 177, 177, 0.52);
}
#log_content #log_left{
    text-align: right;
    width: 27.3%;
    height: 95px;
    display: inline-block;

}
#log_left img{
    width: 30%;
    height: 100%;
}
#log_content #log_right{
    width: 68%;
    vertical-align: top;
    height: 95px;
    display: inline-block;
}
#log_title{
    width: 800px;
    height: 95px;
    margin-left: 30px;
    display: inline-block;
}
#log_right #log_title .headul{
    width: 100%;
    height:95px;
    display: flex;
    justify-content: space-around;
}

#log_right #log_title .headul li{
    height:95px;
    line-height:95px ;
    display: inline-block;
    color: #666;
    font-size: 16px;
    position: relative;
}

#log_right #log_title .headul li:first-child a{
    color: #ff0000;

}
#log_right #log_title .headul li:hover a{
    color: red;
}
#log_right #log_title .headul li a{
    color: #666;
}

#sousuo {
    width: 50px;
    height: 95px;
    margin-top: 37px;
    line-height: 95px;
    position: absolute;
    top: -36px;
    left: 12px;;
}
#sousuo i{
    padding-bottom: 20px;
    font-size: 30px;
}
#centent{

    height: 100%;
}

#agreement{
    width: 1200px;margin: 60px auto;
}
#agreement_left{
    width: 15%;
    display: inline-block;
    font-size: 16px;
    color: #666;
    text-align: center;
    vertical-align: top;
    padding-top: 25px;
}
#agreement_right{
    width: 80%;
    display: inline-block;
    font-size: 14px;
    color: #666;
    text-align: left;
}
.agreement_Name{
    font-size: 16px;
}
#agreement_right p{
    margin-bottom: 10px;
}
#btn_goback{
    width: 100%;
    height: 50px;
}
#goback{
    width: 120px;
    height: 44px;
    margin: 20px auto;
    background-color: #FF5A5F;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;


}

@media screen and  (min-width: 1500px) {
    #centent{
        width:100%;
    }
    #agreement{
        width: 1200px;
    }

}
@media screen and  (min-width: 1200px) and(max-width: 1500px)  {
    #centent{
        width:100%;
    }
    #agreement{
        width: 1200px;
    }
}
@media screen and  (min-width: 900px) and (max-width: 1200px) {
    #centent{
        width:1200px;
    }
    #agreement{
        width: 1200px;
    }

}

@media screen and  (max-width: 900px) {

    #centent{
        width:1200px;
    }
    #agreement{
        width: 1200px;
    }
}